<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task 1 - Instructions</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Task 1</h1>
    <p>
      In this task, you will be presented with 150 images of daily candlestick charts that have been analyzed using AI. For each image, you are required Predict the midpoint of the next candlestick:
    </p>
    <p>
      Each image represents standardizes daily candlestick data of real stocks. Your responses will be used to evaluate the effectiveness of the AI analysis in interpretation of visual data.
    </p>
    
    <h2>What is a candlestick chart?</h2>
    <p>
      Candlestick charts are used to depict price movements within a specific time frame (in this case, one day). The main part, or "real body," indicates the range between the opening and closing prices:
    </p>
    <ul>
      <li><strong>Green body</strong> signifies a price increase</li>
      <li><strong>Red body</strong> indicates a price decrease</li>
    </ul>
    <p>
      Shadows (or wicks) extend from the body to show the highest and lowest prices reached during the day.
    </p>
    <p>
      <em>P.S. For a video explanation, you can check this <a href="https://www.youtube.com/shorts/dXi97O2kc-8" target="_blank">video</a>.</em>
    </p>
    
    <h2>Technical Analysis Terms</h2>
    <p>
      <strong>Resistance Level:</strong> A price point where selling pressure prevents further price increases.
    </p>
    <p>
      <strong>Support Level:</strong> A price point where buying interest prevents further price decreases.
    </p>
    <p>
      <strong>Trendline:</strong> A line drawn over pivot highs or under pivot lows to help visualize the direction of price movement.
    </p>
    
    <!-- Explanation image -->
    <div class="image-container">
        <img src="{{ url_for('static', filename='Candle_exlplanation.jpeg') }}" alt="Candlestick Explanation">
    </div>
    
    <!-- Button to start Task 1 -->
    <button onclick="window.location.href='/survey'">Start Task 1</button>
  </div>
</body>
</html>
