<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome to the Survey!</h1>
    <p>
      This survey is part of a master's thesis in Cognitive Science. 
      The study investigates the efficiency of generative AI systems in visual data interpretation using candlestick images. 
      Your responses will help us understand how AI can support visual analysis.
    </p>
    <a href="{{ url_for('consent') }}">Start the Survey</a>
</body>
</html>
